checkpoints/
*.json
*.txt
!requirements.txt
*.pth
saved_checkpoints/
*.pyc
data/
hf_upload_checkpoints/
zeroshot_rerank_files/
zeroshot_retrieval_eval_results/
LamRA_Ret_eval_results/
checkpoints/ 
rerank_training_data/